.sales_banner {
  padding: 0 40px;
  margin-bottom: 82px;
  width: 100%;
}
.banner_title {
  text-align: center;
  color: #fff;
}

.sales_banner_content {
  border-radius: 12px;
  padding: 32px 32px 0px 32px;
  height: 486px;
  background: linear-gradient(220deg, #2451c6 0%, #0d50ff 100%);
  display: flex;
  flex-direction: column;
}

.banner_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.banner_img {
  width: 100%;
  display: flex;
}
