.categories_content {
  padding: 0 40px;
  margin-bottom: 106px;
}

.categories_list {
  display: grid;
  grid-template-columns: repeat(4, 316px);
  justify-content: space-between;
  margin-top: 40px;
  gap: 32px;
}
